<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="Ricon001Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.39;initial catalog=Ricon001;persist security info=True;user id=sa;password=Spin123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Ricon002Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider 
	connection string=&quot;data source=192.168.0.39;initial catalog=Ricon002;persist security info=True;user id=sa;password=Spin123456;MultipleActiveResultSets=True;
	App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <add name="RiconAppsDBEntities" connectionString="metadata=res://*/RiconAppsDBModel.csdl|res://*/RiconAppsDBModel.ssdl|res://*/RiconAppsDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.51;initial catalog=RiconAppsDB;user id=sa;password=Spin123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="RiconAppsDBEntities1" connectionString="metadata=res://*/RiconAppsDBModel.csdl|res://*/RiconAppsDBModel.ssdl|res://*/RiconAppsDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=154.52.97.43;initial catalog=RiconAppsDB;persist security info=True;user id=sa;password=Spin123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="RiconAppsDBEntities2" connectionString="metadata=res://*/RiconAppsDB.csdl|res://*/RiconAppsDB.ssdl|res://*/RiconAppsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=154.52.97.43;initial catalog=RiconAppsDB;persist security info=True;user id=sa;password=Spin123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="RiconApps_FASEntities1" connectionString="metadata=res://*/RiconApps_FAS.csdl|res://*/RiconApps_FAS.ssdl|res://*/RiconApps_FAS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cloudsql01.riconapps.com,8833;initial catalog=RiconApps_FAS;persist security info=True;user id=sa;password=Spin123456;multipleactiveresultsets=True;encrypt=False;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="ZTP_TestEntities" connectionString="metadata=res://*/ZTP_Test.csdl|res://*/ZTP_Test.ssdl|res://*/ZTP_Test.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cloudsql01.riconapps.com,8833;initial catalog=ZTP_Test;persist security info=True;user id=sa;password=Spin123456;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>